[submodule "netflix-discovery-server"]
	path = netflix-discovery-server
	url = https://github.com/fiap-69aoj/netflix-discovery-server.git
[submodule "netflix-user"]
	path = netflix-user
	url = https://github.com/fiap-69aoj/netflix-user.git
[submodule "netflix-gateway"]
	path = netflix-gateway
	url = https://github.com/fiap-69aoj/netflix-gateway.git
[submodule "netflix-order"]
	path = netflix-order
	url = https://github.com/fiap-69aoj/netflix-order.git
[submodule "netflix-configuration-server"]
	path = netflix-configuration-server
	url = https://github.com/fiap-69aoj/netflix-configuration-server.git
[submodule "netflix-commons"]
	path = netflix-commons
	url = https://github.com/fiap-69aoj/netflix-commons.git
[submodule "netflix-help-desk"]
	path = netflix-help-desk
	url = https://github.com/fiap-69aoj/netflix-help-desk.git
[submodule "netflix-catalog"]
	path = netflix-catalog
	url = https://github.com/fiap-69aoj/netflix-catalog.git
